CREATE TABLE IF NOT EXISTS field_weekly_budgets (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    week_start DATE NOT NULL UNIQUE,
    amount DECIMAL(15,2) DEFAULT 0.00,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE IF NOT EXISTS field_advances (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    employee_name VARCHAR(255) NOT NULL,
    amount DECIMAL(15,2) NOT NULL,
    date DATE NOT NULL,
    notes TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

ALTER TABLE field_weekly_budgets ENABLE ROW LEVEL SECURITY;
ALTER TABLE field_advances ENABLE ROW LEVEL SECURITY;

CREATE POLICY \
Allow
all
on
field_weekly_budgets\ ON field_weekly_budgets FOR ALL USING (true) WITH CHECK (true);
CREATE POLICY \Allow
all
on
field_advances\ ON field_advances FOR ALL USING (true) WITH CHECK (true);

