ALTER TABLE video_recordings ADD COLUMN IF NOT EXISTS client_id UUID REFERENCES clients(id);
ALTER TABLE video_recordings ADD COLUMN IF NOT EXISTS well_name TEXT;
ALTER TABLE video_recordings ADD COLUMN IF NOT EXISTS address TEXT;
NOTIFY pgrst, 'reload schema';
